* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background-color: #e8edf7;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


              /*white box*/

.register-container {

    width: 410px;

    background-color: white;

    padding: 28px 40px 32px;

    border-radius: 25px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}




.logo {

    display: block;

    width: 95px;

    height: auto;

    margin: 0 auto 8px;
}


                    /* Register heading */

h1 {

    text-align: center;

    font-size: 15px;

    font-weight: normal;

    margin: 0 0 22px;
}


                            /* Form */

form {

    width: 100%;

    display: flex;

    flex-direction: column;
}


                         /* label + input */

.form-group {

    width: 100%;

    margin-bottom: 12px;
}


label {

    display: block;

    font-size: 14px;

    margin-bottom: 5px;

    text-align: left;
}


                              /* Text fields */

input[type="text"],
input[type="email"],
input[type="password"] {

    width: 100%;

    height: 30px;

    padding: 6px 10px;

    border: none;

    background-color: #f1f1f1;

    font-size: 13px;

    outline: none;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {

    background-color: #eeeeee;
}


                             /* Error messages */

.error {

    display: block;

    color: #d9534f;

    font-size: 11px;

    margin-top: 3px;
}


                                 /* Terms */

.terms {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 4px;

    margin-top: 3px;

    font-size: 9px;
}


.terms input {

    width: 10px;

    height: 10px;

    margin: 0;
}


.terms-error {

    text-align: center;

    margin-bottom: 8px;
}


                             /* Register button */

button {

    width: 55px;

    height: 20px;

    padding: 0;

    margin: 8px auto 0;

    border: none;

    background-color: #eeeeee;

    font-size: 10px;

    cursor: pointer;
}


button:hover {

    background-color: #dddddd;
}


                                  /* Footer */

.footer {

    position: fixed;

    bottom: 18px;

    left: 0;

    width: 100%;

    text-align: center;

    font-size: 15px;
}